#left-section{
	display:flex;
	flex-direction:column;
  flex-shrink:0;
	width:400px;
  max-width:100%;
  border-right:2px solid #eee;
  z-index:2;
  transition:width 100ms ease-out;
}
#left-section[collapsed]{
  width:5.25em;
}
.top-bar,
.bottom-bar{
	flex-shrink:0;
	width:100%;
	height:70px;
  box-shadow:0.2em -0.1em 0.3em #2223;
  z-index:1;
  overflow:hidden;
}
.top-bar{
  display:flex;
  padding:0.25em;
  align-items:center;
  box-shadow:0.1em 0.1em 0.3em #2223;
}
.top-bar#left-top-bar{
  box-shadow:-0.1em 0.1em 0.3em #2223;
}
.bottom-bar.options{
  display:flex;
  box-shadow:none;
}
.bottom-bar.info-area{
	padding:0.5em;
  min-width:20em;
  height:auto;
	background:var(--warn-color);
  box-shadow:-0.1em -0.1em 0.3em #2223;
  transition:all 100s ease-out;
}
.bottom-bar.info-area .line{
  display:flex;
  justify-content:center;
  margin:1em;
}
.bottom-bar.info-area .line.illustration{
  margin:2em 0px;
  width:100%;
  height:15em;
  background-image:url("../resources/illustrations/injured.svg");
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
}
.bottom-bar.info-area .line button{
  margin:0.5em 0px;
  padding:0.8em 1em;
  border:none;
  border-radius:0.5em;
  letter-spacing:0.05em;
  color:#eee;
  background-color:#333;
  box-shadow:0.06em 0.06em 1em #2223;
}

#left-main{
	/* background:#ededed; */
	height:100%;
	overflow:hidden;
}
.chat-item{
	display:flex;
	align-items:center;
  position:relative;
  /* margin:0.5em; */
	padding:0.5em;
	height:auto;
	background:#fff;
	/* border-radius:10px; */
  /* border-bottom:0.05em solid #eee; */
  user-select:none;
  transition:all 100ms ease;
}
.chat-item:hover{
  background-color:#fafafa;
}
.chat-item:active{
  background-color:#f8f8f8;
  transform:scale(0.95);
}
.chat-item::after{
  content:"";
  position:absolute;
  bottom:0px;
  left:20%;
  width:80%;
  /* height:1px; */
  background-color:#eee;
}

.dp-holder,
.name-holder,
.other-info{
	margin:0.5em;
  height:3.25em;
  font-weight:500;
  overflow:hidden;
  transition:width 100ms ease-in;
}
.dp-holder{
  flex-shrink:0;
  width:3.25em;
	background:#EDEDED;
	border-radius:50%;
  border:unset;
  font-size:1em;
}
.dp-holder img{
  width:100%;
}
.name-holder{
  display:flex;
	flex-direction:column;
  justify-content:space-between;
	min-width:0px;
  width:100%;
}
.name-holder .user-name,
.name-holder .msg-preview{
  width:100%;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
.name-holder .user-name{
  margin-top:0.25em;
	font-weight:600;
	font-size:1.1em;
	color:#777;
  font-weight:600;
}
.name-holder .msg-preview{
  font-size:smaller;
  color:#c7c7c7;
  letter-spacing:0.01em;
}
.other-info{
  display:flex;
  align-items:flex-end;
  /* width:4em; */
  flex-shrink:0;
}
.other-info .msg-time{
	font-size:0.8em;
  white-space:nowrap;
  word-break:keep-all;
  color:#bbb;
  word-spacing:-0.1em;
}
.messages-area{
	width:100%;
  height:100%;
  overflow:hidden;
}
.chat-area, .list-area{
	display:flex;
	flex-direction:column;
	width:100%;
  height:100%;
}
.empty-container{
	display:flex;
	flex-direction:column;
  position:relative;
  align-items:center;
  justify-content:center;
	width:100%;
  height:100%;
}
.empty-container .illustration{
  width:26.25em;
  max-width:100%;
  height:26.25em;
  background-image:url("../resources/illustrations/chat.svg");
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
}
.list-area .empty-container .illustration{
  margin-bottom:2em;
  width:18em;
  height:18em;
  background-image:url("../resources/illustrations/begin_chat.svg");
}
.empty-container p{
  margin-bottom:3em;
  max-width:26.25em;
  font-size:1em;
  line-height:1.6em;
  font-weight:500;
  letter-spacing:0.01em;
  color:#bbb;
  text-align:center;
}
.list-area .empty-container p{
  max-width:18em;
}
.empty-container button.link{
  position:absolute;
  bottom:1.5em;
  margin-top:auto;
}

.top-bar .dp-holder{
  margin:0.5em 1em;
  width:3em;
  height:3em;
}
.top-bar .name-holder .user-name{
  margin-top:0.4em;
}
.top-bar .name-holder .msg-preview{
  margin-bottom:0.25em;
  font-size:small;
}
.icons{
  display:flex;
  align-items:center;
  height:100%;
}
.icons .icon{
  margin:0.5em;
  transition:margin 100ms ease-out;
}
.top-bar .icons{
  margin-left:auto;
}
.options .icons .icon,
#left-section[collapsed]:not(:hover) :not(.options) .icons .icon{
  margin:0.5em 1.375em;
}
#left-section[collapsed] :not(.options) .icons .icon{
  transition:margin 100ms 1s ease-out;
}
#left-section .options .icons .icon svg{
  display:none;
}
#left-section:not([collapsed]) .options .icons .icon svg.unpin,
#left-section[collapsed] .options .icons .icon svg.pin{
  display:initial;
}

.right-main{
	height:100%;
	overflow:auto;
  padding:0.5em;
}

.right-main .message-group{
  display:flex;
  flex-direction:column;
}
.message-group .message-container{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}
.message-group.sent .message-container{
  align-items:flex-end;
}
.message-container .content{
  display:flex;
  flex-direction:column;
  margin:0.3em;
  padding:0.6em 1em;
  width:auto;
  max-width:50%;
  border-radius:10px;
  background-color:#eee;
  color:#444;
}
.message-group.sent .message-container .content{
  background-color:#444;
  color:#eee;
}
.message-group .message-container:not(:first-of-type) .content{
  margin-top:0.1em;
}
.message-group.sent .message-container:not(:first-of-type) .content{
  border-top-right-radius:5px;
}
.message-group:not(.sent) .message-container:not(:first-of-type) .content{
  border-top-left-radius:5px;
}
.message-group .message-container:not(:last-of-type) .content{
  margin-bottom:0.1em;
}
.message-group.sent .message-container:not(:last-of-type) .content{
  border-bottom-right-radius:5px;
}
.message-group:not(.sent) .message-container:not(:last-of-type) .content{
  border-bottom-left-radius:5px;
}
.message-group .message-container:first-of-type:last-of-type .content{
  margin-top:0.3em;
  margin-bottom:0.3em;
}
.message-group.sent:first-of-type:last-of-type .content{
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}
.message-group:not(.sent):first-of-type:last-of-type .content{
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}
.message-container .info{
  display:flex;
  flex-direction:row-reverse;
  align-items:center;
  margin:0px 0.3em;
  width:auto;
  height:0px;
  font-size:smaller;
  color:#444;
  letter-spacing:0.01em;
  font-weight:500;
  overflow:hidden;
  opacity:0;
  transition:all 150ms 1s ease;
}
.message-group.sent .info{
  flex-direction:row;
}
.message-container .info .icon{
  margin:0px -0.3em;
}
.message-container .info .time{
  margin:0px 0.3em;
}

.message-container:is(:active,:hover) :is(.content+.info,.info){
  margin-top:-0.3em;
  height:2em;
  opacity:1;
}

.send-area{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  padding:0px 1em;
  width:100%;
  height:100%;
}
.send-area input,
.send-area button{
  width:100%;
  height:40px;
  border:none;
  background-color:transparent;
}
.send-area input{
  padding:0px 1em;
  outline:none;
  border-radius:10px;
}
.send-area button{
  flex-shrink:0;
  margin-left:1em;
  width:40px;
  letter-spacing:0.1em;
  font-size:larger;
  color:#222;
  cursor:pointer;
}
.send-area input:focus{
  box-shadow:0px 0px 0.4em #2223 inset;
}

@media screen and (max-width:800px) {
  #left-section{
    position:absolute;
    height:100%;
    background-color:#fff;
    border-right:none;
    box-shadow:0em 0.1em 0.3em #2223;
    transition:width 100ms 0s ease-out;
  }
  /* #left-section:hover{
    width:400px;
    transition:width 100ms 1s ease-out;
  } */
  .messages-area{
    position:absolute;
    left:5.25em;
    width:calc(100% - 5.25em);
  }
}