.container.info-area{
  flex-direction:column;
  padding-bottom:1em;
  width:400px;
  max-width:100%;
  box-shadow:0px 0px 0.5em #2223;
  background-color:#ffff;
  transition:all 100ms ease-out;
  overflow:auto;
  /* direction:rtl; */
}
.container.info-area.profile{
  left:0px;
}
.container.info-area.message-info{
  right:0px;
}
.container.info-area.profile[state=close]{
  left:-400px;
}
.container.info-area.message-info[state=close]{
  right:-400px;
}
.container.info-area .row{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:1em 2em;
  /* direction:ltr; */
}
.container.info-area .row.actions{
  position:sticky;
  top:0px;
  flex-direction:row;
  justify-content:space-between;
  padding:1em;
  background-color:inherit;
  border-bottom:1px solid #ddd;
  z-index:1;
}
.container.info-area .row.actions h3{
  margin-left:2.5em;
  width:100%;
  font-weight:500;
  text-align:center;
  color:#444;
}
.container.info-area .row.field{
  flex-direction:row;
  align-items:flex-start;
  flex-wrap:wrap;
}
.container.info-area.profile .row.field:hover{
  background-color:#fafafa;
}
.container.info-area .picture-container{
  position:relative;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  width:12em;
  height:12em;
}
.container.info-area .picture-container .dp-holder{
  margin:0px;
  padding:0px;
  width:100%;
  height:100%;
  background-image:url("../resources/illustrations/profile_pic.svg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}
.container.info-area .picture-container button.edit{
  position:absolute;
  bottom:0.4em;
  right:0.5em;
  background-color:#fff;
}
.container.info-area .picture-container button.edit:hover{
  background-color:#f8f8f8;
}
.container.info-area .username{
  font-weight:500;
  color:#444;
}
.container.info-area .display-name{
  font-weight:500;
}
.container.info-area .field :is(label, .description){
  font-size:0.9em;
  color:#888;
}
.container.info-area .field label{
  width:100%;
  font-weight:500;
}
.container.info-area .field .description{
  margin-top:0.25em;
}
.container.info-area .field input{
  padding:0.5em 0px 0.3em;
  width:100%;
  font-size:medium;
  outline:none;
  border:0px solid transparent;
  border-bottom-width:2px;
  background-color:transparent;
}
.container.info-area .field input{
  width:calc(100% - 2.5em);
}
.container.info-area .field input:focus{
  border-color:#666;
}
.container.info-area .field .icon{
  margin-left:0.5em;
  width:2em;
  height:2em;
  overflow:hidden;
}
.container.info-area .field[state=open] input{
  width:calc(100% - 5em);
}
.container.info-area .field .icon:not(.edit),
.container.info-area .field:is([state=open], [state=process]) .icon.edit{
  display:none;
}
.container.info-area .field[state=open] .icon:is(.accept, .cancel),
.container.info-area .field[state=process] .icon.processing{
  display:flex;
}

.container.info-area .field .text-content{
  padding:0.5em 0px 0.3em;
  width:100%;
  font-size:medium;
  outline:none;
  border:0px solid transparent;
  border-bottom-width:2px;
  background-color:transparent;
}
.container.info-area .field .list-item{
  padding-right:0px;
  padding-left:0px;
}