*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container{
    height:100vh;
    width:100vw;
    background:#fff;
    background-image:url('../Resources/Images/form-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form-holder{
    /* height:80%; */
    width:50%;
    max-width: 400px;
    padding:50px 20px;
    background:#fff;
    border-radius:20px;
    box-shadow: 1px 1px 15px 0px rgba(34, 34, 34,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-holder form{
    flex-basis:80%;
    width: 80%;
    display: none;
    flex-direction: column;
}
#form-holder:not([active]) form#register-form:not(#login-form),
#form-holder[active=login] form#login-form{
    display:flex;
}
#form-holder[active=login] form:not(#login-form){
    display:none;
}
#form-holder form h2{
    align-self:center;
    font-size:xx-large;
    margin-bottom:20%;
    color: #444;
}
#form-holder form input {
    height:40px;
    border-radius: 10px;
    margin-bottom:20px;
    outline:none;
    border:0;
    box-shadow: 1px 1px 5px 0px rgba(34, 34, 34,0.2);
    padding:10px;
    color:#444444;
    transition: box-shadow 0.5s,transform 1s;
}
#form-holder form input::placeholder{
    color:#bbb;
}
#form-holder form input:not([type="submit"]):focus{
    box-shadow: 1px 1px 7px 0px rgba(34, 34, 34,0.3);
}
#form-holder form input[type="submit"]{
    color:#fff;
    background-color:#222222;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

#form-holder form input[type="submit"]:focus{
    transform:scale(.97);
}
#form-holder form input[type="submit"]:hover{
    box-shadow: 1px 1px 7px 0px rgba(246, 246, 246, 0.3) inset;
    transform:scale(0.99)
}
.alread-reg-msg{
    margin-top:1em;
    text-align:center;
    color: #444;
}
.alread-reg-msg a{
    color:#79B9EE;
}